.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cityCountry{
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    margin-bottom: .5rem;
}

.imgTemperatura{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.temperatura{
    font-style: normal;
    font-weight: 700;
    font-size: 4.8rem;
}
